body{
background-color: #edede9;
margin: -5px;
font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
overflow-x: hidden;
-ms-overflow-style: none;  
scrollbar-width: none;  
}
body::-webkit-scrollbar {
  display: none;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 5vmin;
    color: black;
}
.header a{
    color: black;
    text-decoration-line: none;
    font-size: 1.8rem;
    cursor: pointer;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-end;
}
.logo img{
    width: auto;
    height: 15vmin;
    
}
.logo{
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1vmin;
}
.year{
    font-size: 4rem;
    margin-left: 11vmin;
    font-weight: bold;
 }
.cards{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 5vmin;
    justify-content: center;
    align-items: center;
}
.card {
    cursor: pointer;
    background-color: white;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    transition: 0.3s;
    border-radius: 4px;
    display: absolute;
    gap: 5vmin;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card img{
    width: 100%;
    height: max(60vmin);
    object-fit: cover;
    aspect-ratio: 4/3;
  }
  .card p{
    display: flex;
    margin: 2rem;
  }
  .cardHeader {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .cardText{
    font-size: 1rem;
  }
  .price{
    font-size: 1rem;
    font-weight: bold;
    width: 7rem;
    flex: 0;
    padding: 1rem;
    background-color: black;
    color: white;
  }
  .footer
  {
    align-items: center;
    color: white;
    padding: 3vmin;
    margin-top: 2rem;
    display: flex;
    background-color: black;
    justify-content: space-between;
  }
  .nameOfCompany{
    font-size: 1.5rem;
  }
  .social-media a, .contacts a, .email{
    color: white;
    text-decoration-line: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .social-media{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6vmin;
  }
  .social-media img{
    width: 3rem;
    
  }
   /*--------------------css for small screens----------------*/
   @media only screen and (max-width: 600px){
    .header{
     width: fit-content;

    }
    .header h3{
      font-size: 3vmin;
    }
    .header a{
      font-size: 3vmin;
    }
    ul{
      gap: 2vmin;
      flex-direction: row;
      display: flex;
      flex-wrap: nowrap;
    }
    .card{
      width: 90vmin;
      margin-left: 1vmin;
    }
    .year{
      font-size: 8vmin;
    }
    .contacts p, .contacts a{
      font-size: 3vmin;
    }
    .social-media img{
      width: 10vmin;
    }
   }